.marketing {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;

  text-align: justify;
}
.row {
  width: 100%;
}
.footer {
  display: flex;
  align-items: center;
  font-weight: bold;
  height: 100px;
}
